@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, select {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: inherit;
  color: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.25;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

* :focus {
  outline: none;
}

@font-face {
  font-family: "Swistblnk Monthoers";
  font-style: normal;
  font-weight: normal;
  src: local("Swistblnk Monthoers Regular"), url("./asset/Monthoers.woff") format("woff");
}
:root {
  font-size: 24px;
  font-family: "Swistblnk Monthoers";
}
@media screen and (max-width: 700px) {
  :root {
    font-size: 14px;
  }
}

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  width: 100vw;
  height: auto;
  flex-direction: column;
  gap: 120px;
  background-color: #FFFAF1;
  overflow-x: hidden;
}
@media screen and (max-width: 1024px) {
  body {
    gap: 64px;
  }
}

::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #04c9c9;
  border-radius: 100px;
}

@media screen and (max-width: 1024px) {
  #section {
    width: 100%;
    flex-direction: column-reverse;
    justify-content: center !important;
  }
}

.flexcol {
  display: flex;
  flex-direction: column;
}

.w1-3 {
  width: 33%;
}

header {
  position: absolute;
  z-index: 3;
}
header .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1%;
  width: 100vw;
}
header .menu .logo {
  width: 77px;
}
header .menu .search {
  align-items: center;
  width: 25%;
  margin-right: 10%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 700px) {
  header .menu .search {
    width: 50%;
  }
}
header .menu .search a {
  color: #ffffff;
}
@media screen and (max-width: 700px) {
  header .menu .search a {
    font-size: 5vw;
  }
}
header .menu .search .borderh {
  letter-spacing: 0.1em;
  padding: 15px 20px;
  position: relative;
}
header .menu .search .borderh::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #007F7F;
  transition: width 0.2s ease 0s, left 0.2s ease 0s;
  width: 0;
}
header .menu .search .borderh:hover:after {
  width: 100%;
  left: 0;
}

.bar {
  width: auto;
  display: flex;
  gap: 3rem;
  margin-right: 10%;
  font-size: 1rem;
  align-items: center;
}

footer {
  color: #96694B;
  background-color: #96694B;
  display: flex;
  flex-direction: column;
}
footer .footer_upper {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  gap: 8%;
  position: relative;
}
@media screen and (max-width: 700px) {
  footer .footer_upper {
    gap: 2%;
    flex-direction: column;
  }
}
footer .footer_upper img {
  position: absolute;
  width: 77px;
  top: 30px;
  left: 40px;
}
@media screen and (max-width: 700px) {
  footer .footer_upper img {
    display: none;
  }
}
footer .footer_upper h3 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}
@media screen and (max-width: 700px) {
  footer .footer_upper h3 {
    font-size: 4vw;
  }
}
footer .footer_upper p {
  font-size: 16px;
}
@media screen and (max-width: 700px) {
  footer .footer_upper p {
    font-size: 4vw;
    font-family: "Courier New", Courier, monospace;
  }
}
footer .footer_upper div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  padding-top: 7%;
}
@media screen and (max-width: 700px) {
  footer .footer_upper div {
    padding-top: 0%;
  }
}
footer .footer_upper div:nth-child(3) {
  position: relative;
}
footer .footer_upper section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  margin-top: 10px;
}
@media screen and (max-width: 700px) {
  footer .footer_upper section {
    margin-top: 0px;
  }
}
footer .footer_upper section i {
  font-size: 44px;
}
@media screen and (max-width: 700px) {
  footer .footer_upper section i {
    font-size: 13vw;
    padding: 10px;
  }
}
footer .footer_lower {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  gap: 10%;
  border-top: 1px solid black;
}
@media screen and (max-width: 700px) {
  footer .footer_lower {
    font-size: 4vw;
  }
}

.button {
  background-color: transparent;
  padding: 16px;
  width: min-content;
  display: flex;
  gap: 1em;
  width: max-content;
  border: 1px solid;
  align-items: center;
}
.button p {
  margin-bottom: 10px;
}

.jaune {
  color: #ffe8c1;
  border: #ffe8c1 3px solid;
}

.blanc {
  color: #ffffff;
  border: #ffffff 3px solid;
}

.bleu {
  color: #007F7F;
  border: #007F7F 3px solid;
}

.btnheader {
  margin: 10%;
  text-align: -webkit-right;
}
@media screen and (max-width: 700px) {
  .btnheader {
    font-size: 4vw;
  }
}

.btn {
  place-self: self-end;
}

.btn2 {
  place-self: center;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: contain;
  background-position: center;
  background-size: cover;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding: 10%;
  background-image: url("./img/header.jpg");
}
@media screen and (max-width: 700px) {
  .main {
    align-content: center;
    justify-content: center;
  }
}

h1 {
  color: #007F7F;
  font-size: 3.7rem;
  font-weight: 400;
}
@media screen and (max-width: 700px) {
  h1 {
    font-size: 17.7vw;
  }
}

h2 {
  color: #ffe8c1;
  font-size: 2rem;
  font-weight: 400;
}
@media screen and (max-width: 700px) {
  h2 {
    font-size: 11vw;
  }
}

.nous {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  padding-top: 10%;
  padding-bottom: 10%;
}
@media screen and (max-width: 700px) {
  .nous {
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 5vw;
  }
}
.nous .flexcol {
  margin-top: 2%;
  gap: 2rem;
}
.nous .flexcol .rem3 {
  font-size: 2rem;
  color: #007F7F;
}
@media screen and (max-width: 700px) {
  .nous .flexcol .rem3 {
    font-size: 7vw;
  }
}
.nous img {
  width: 30%;
  margin: 5%;
  border-radius: 5px;
  object-fit: contain;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
@media screen and (max-width: 700px) {
  .nous img {
    width: 75%;
  }
}

.carte {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  color: #ffffff;
  padding-top: 5%;
  padding-bottom: 15%;
  background-image: url("./img/Burgers.png");
  background-repeat: no-repeat;
  object-fit: contain;
  background-size: cover;
}
@media screen and (max-width: 700px) {
  .carte {
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
    font-size: 5vw;
  }
  .carte .btn {
    place-self: center start;
  }
}
.carte .flexcol {
  margin-top: 2%;
  gap: 2rem;
}
.carte .flexcol .rem3 {
  font-size: 2rem;
}

.pret {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  padding-top: 10%;
  padding-bottom: 10%;
}
.pret .flexcol {
  margin-top: 2%;
  gap: 2rem;
}
.pret .flexcol .rem3 {
  font-size: 2rem;
  color: #007F7F;
}
@media screen and (max-width: 700px) {
  .pret .flexcol .rem3 {
    font-size: 6vw;
  }
}
@media screen and (max-width: 700px) {
  .pret {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    gap: 30px;
  }
  .pret a {
    font-size: 6vw;
  }
  .pret p {
    font-size: 5vw;
  }
}

.jungle {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  color: #ffffff;
  padding-top: 5%;
  padding-bottom: 5%;
  background-image: url("./img/Jungle.png");
}
.jungle .flexcol {
  margin-top: 2%;
  gap: 2rem;
}
.jungle .flexcol .rem3 {
  font-size: 2rem;
}
.jungle img {
  width: 40%;
  border-radius: 5px;
  margin-top: 2%;
  margin-bottom: 2%;
  object-fit: contain;
}
@media screen and (max-width: 700px) {
  .jungle {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    font-size: 5vw;
  }
  .jungle img {
    width: 75%;
  }
}

.menumain {
  background-color: black;
  width: 100vw;
  height: 40vh;
  display: flex;
  text-align: center;
  align-items: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: contain;
  background-position: center;
  background-size: cover;
}
.menumain h1 {
  margin: 0 auto;
}

.carte2 {
  display: flex;
  height: auto;
  width: 100vw;
}
.carte2 .carteadmin {
  background: #fdf6e8;
  margin: 20px;
  width: 25%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.carte2 .carteadmin .espace {
  margin: 5%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.carte2 .carteadmin .espace .cr {
  color: #007F7F;
  font-size: 2.5rem;
  cursor: pointer;
  transition: 0.3s;
}
.carte2 .carteadmin .espace .cr:hover {
  font-size: 2.8rem;
  transition: 0.3s;
}
.carte2 .carteadmin .espace .trait {
  height: 2px;
  background-color: black;
}
.carte2 .carteadmin .espace .choix {
  color: #007F7F;
  transition: 0.3s;
  cursor: pointer;
}
.carte2 .carteadmin .espace .choix:hover {
  font-size: 1.2rem;
  transition: 0.3s;
}
.carte2 .carteinfo {
  width: 78%;
}

.navContact {
  background-color: #FFFAF1;
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 2px 1px;
}

ul {
  display: flex;
  padding: 0;
  margin-right: 15px;
}

ul li {
  padding: 10px 10px 10px 10px;
}

.logoContact {
  width: 50px;
  margin: 5px 0 5px 10px;
}

.contact {
  background-color: #582900;
  display: inline;
}

.nousContacter {
  text-align: center;
  margin: 150px 0px 50px 0px;
}

input {
  padding: 16px;
}

.formulaire {
  text-align: center;
}

.premiere {
  margin: 20px;
}

.deuxieme {
  margin: 20px;
}

textarea {
  padding: 16px;
}

#buttonContact {
  margin-left: 685px;
  margin-top: 10px;
}

button {
  background-color: #FFE8C1;
  border: none;
  color: #582900;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/*# sourceMappingURL=style.css.map */
