.main{
  display: flex;
  flex-direction: column  ;
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: contain; 
  background-position: center; 
  background-size:cover;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding: 10%;
  background-image: url('./img/header.jpg');

  @include for-mobiles{
    align-content: center;
    justify-content: center;
  }

  
  @include for-tablets{
      padding: 15%;
  }
}




h1{
  color: $primary2;
  font-size: 9vw;
  font-weight: 400;

  @include for-mobiles{
    font-size: 16vw;
  }

}
h2{
  color: $secondary;
  font-size: 2.8rem;
  font-weight: 400;
  padding-left: 15px;

  @include for-mobiles{
    font-size: 11vw;
  }

}

.nous{
  display: flex;
  width: 100vw;
  justify-content: space-around;
  padding-top: 10%;
  padding-bottom: 10%;

  @include for-mobiles{
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 5vw;
  }

  .flexcol{
    margin-top: 2%;
    gap: 2rem;
    .rem3{
      font-size: 2rem;
      color: $primary2;

      @include for-mobiles{
        font-size: 7vw;
      }

    }
  }
  img{
    width: 30%;
    margin: 5%;
    border-radius: 5px;
    object-fit: contain;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    @include for-mobiles{
      width: 75%;
    }
  }
}

.carte{
  display: flex;
  width: 100vw;
  justify-content: space-around;
  color: $white;
  padding-top: 5%;
  padding-bottom: 15%;

  @include for-mobiles{
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 30px;

    .btn{
      place-self: center start;
    }

    text-align: center;
    font-size: 5vw;
  }

  .flexcol{
    margin-top: 2%;
    gap: 2rem;
    .rem3{
      font-size: 2rem;

    }
  }
  background-image: url('./img/Burgers.png');
  background-repeat: no-repeat;
  object-fit: contain;
  background-size:cover;
}



.pret{
  display: flex;
  width: 100vw;
  justify-content: space-around;
  padding-top: 10%;
  padding-bottom: 10%;
  .flexcol{
    margin-top: 2%;
    gap: 2rem;
    .rem3{
      font-size: 2rem;
      color: $primary2;

      @include for-mobiles{
        font-size: 6vw;
      }
    }
  }

  @include for-mobiles{
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    gap: 30px;
    
    a{
      font-size: 6vw;
    }
    
    p{
      font-size: 5vw;
    }
  }

}

.jungle{
  display: flex;
  width: 100vw;
  justify-content: space-around;
  color: $white;
  padding-top: 5%;
  padding-bottom: 5%;
  .flexcol{
    margin-top: 2%;
    gap: 2rem;
    .rem3{
      font-size: 2rem;
    }
  }
  img{
    width: 40%;
    border-radius: 5px;
    margin-top: 2%;
    margin-bottom: 2%;
    object-fit: contain;
  }
  background-image: url('./img/Jungle.png');

  @include for-mobiles{
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    font-size: 5vw;

    img{
      width: 75%;
    }
        
  }
}