.menumain{
    background-color: black;
    width: 100vw;
    height: 40vh;
    display: flex;
    text-align: center;
    align-items: center;

    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: contain; 
    background-position: center; 
    background-size:cover;


    h1{
        margin: 0 auto;
        
    }
}

.carte2{
    display: flex;
    height: auto;
    width: 100vw;
    .carteadmin{
        background-color: #D7D4D4;
        margin: 20px;
        width: 25%;
        height: auto;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        .espace{
            margin: 5%;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            button{ 
                background-color: #D7D4D4;
                border: none;
                color: #582900;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;

            }
            .cr{
                color: $primary2;
                font-size: 2.5rem;
                cursor: pointer;
                transition: 0.3s;
                background-color: #D7D4D4;
            }.cr:hover{
                font-size: 2.8rem;
                transition: 0.3s;
            }
            .trait{
                height: 2px;
                background-color: black;
            }
            .choix{
                color: $primary2;
                transition: 0.3s;
                cursor: pointer;
            }.choix:hover{
                font-size: 1.2rem;
                transition: 0.3s;
            }
        }
        
    }
    .carteinfo{
        width: 78%;
    }
}