.button{
    background-color: transparent;
    padding: 16px;
    width: min-content;
    display: flex;
    gap: 1em;
    width: max-content;
    border: 1px solid;
    align-items: center;
    p{
        margin-bottom: 10px;
    }
}
.jaune{
    color: $secondary;
    border: $secondary 3px solid;
}
.blanc{
    color: $white;
    border: $white 3px solid;
}
.bleu{
    color: $primary2;
    border: $primary2 3px solid;
}

.btnheader{
    margin: 10%;
    text-align: -webkit-right;

    
    @include for-mobiles{
        font-size: 4vw;
    }
}

.btn{
    place-self: self-end;
  }
  .btn2{
    place-self: center;
  
  }
