.button{
    background-color: transparent;
    padding: 16px;
    width: min-content;
    display: flex;
    gap: 1em;
    width: max-content;
    border: 1px solid;
}
.jaune{
    color: $secondary;
    border-color: $secondary;
}
