header{
  position: absolute;
  z-index: 3;
  .menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1%;
    width: 100vw;
    .logo{
      width: 77px;
    }
    .search{
      align-items: center;
      width: 25%;
      margin-right: 10%;
      display: flex;
      justify-content: space-between;

      @include for-mobiles{
        width: 50%;
      }

      a{
        color: $white;

        @include for-mobiles{
          font-size: 5vw;
        }

      }
      .borderh{
        
          letter-spacing: 0.1em;
          
          padding: 15px 20px;
          position: relative;
        
        &::after {    
          background: none repeat scroll 0 0 transparent;
          bottom: 0;
          content: "";
          display: block;
          height: 2px;
          left: 50%;
          position: absolute;
          background: $primary2;
          transition: width 0.2s ease 0s, left 0.2s ease 0s;
          width: 0;
        }
        &:hover:after { 
          width: 100%; 
          left: 0; 
        }
        
      }
    }
  }
}



.bar{
  width: auto;
  display: flex;
  gap: 3rem;
  margin-right: 10%;
  font-size: 1rem;
  align-items: center;
}

