header{
  position: absolute;
  z-index: 3;
  .menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1%;
    width: 100vw;
    .logo{
      width: 77px;
    }
    .search{
      align-items: center;
      width: 25%;
      margin-right: 10%;
      display: flex;
      justify-content: space-between;

      @include for-mobiles{
        width: 50%;
      }

      a{
        color: $white;

        @include for-mobiles{
          font-size: 5vw;
        }

      }
      .borderh{
        &:hover{
          border-bottom: $primary 2px solid;
        }
        
      }
    }
  }
}



.bar{
  width: auto;
  display: flex;
  gap: 3rem;
  margin-right: 10%;
  font-size: 1rem;
  align-items: center;
}

