// Config basic size and fonts for all pages
:root {
  font-size: 24px;
  font-family: 'Swistblnk Monthoers';

  @include for-mobiles {
    font-size: 14px;
  }
}

html{
  width: 100vw;
  overflow-x: hidden;
}

body {
  width: 100vw;
  height: auto;
  flex-direction: column;
  gap: 120px;
  background-color: $bg;
  overflow-x: hidden;

  @include for-tablets {
    gap: 64px;
  }
}

// Scroll bar
::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 100px;
}

#section{


  @include for-tablets {
    width: 100%;
    flex-direction: column-reverse;
    justify-content: center !important;
  }
}

.flexcol{
  display: flex;
  flex-direction: column;
}
.w1-3{
  width: 33%;
}