// Comfortaa Regular 400
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

@font-face {
    font-family: 'Swistblnk Monthoers Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Swistblnk Monthoers Regular'), url('Monthoers.woff') format('woff');
    }