// Comfortaa Regular 400
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

@font-face {
    font-family: 'Swistblnk Monthoers';
    font-style: normal;
    font-weight: normal;
    src: local('Swistblnk Monthoers Regular'), url('./asset/Monthoers.woff') format('woff');
    }