$primary: rgb(4, 201, 201);
$primary2: #007F7F;
$secondary: rgb(255, 232, 193); //*Need one other like orange for more contrast

$white: #ffffff;
$black: #282828;
$bg: #FFFAF1;
$gray: #282828;

$shadow: rgba(0, 0, 0, 0.16);
$title: rgb(150, 105, 75);